@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Pro:wght@200;300;400;600&display=swap");
body {
  margin: 0;
  font-family: "Crimson Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(172, 219, 250, 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
